.news {
  padding-bottom: 48px;
}

.news .wrapper-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.news .wrapper-news .box-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  border-bottom: 2px solid #f9c100;
}

.news .wrapper-news .nav-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news .wrapper-news .nav-news .item-news {
  padding: 0 8px;
  font-size: 13px;
  padding: 0 15px;
  font-weight: 500;
  color: #767676;
  cursor: pointer;
}

.news .wrapper-news .nav-news .item-news .text-news:hover {
  color: #f9c100;
}

.news .wrapper-news .nav-news .item-news:last-child {
  position: relative;
}

.news .wrapper-news .nav-news .item-news:last-child:hover .menu-sub-news {
  display: block;
}

.news .wrapper-news .nav-news .item-news:last-child .menu-sub-news {
  display: none;
  position: absolute;
  right: 0;
  top: calc(100% + 10px);
  text-align: right;
  border: 1px solid #dbdbdb;
  padding: 12px 24px;
  width: 180px;
  background: white;
}

.news .wrapper-news .nav-news .item-news:last-child .menu-sub-news::after {
  position: absolute;
  content: "";
  height: 20px;
  width: 100%;
  left: 0;
  right: 0;
  top: -20px;
  background: transparent;
}

.news .wrapper-news .nav-news .item-news:last-child .menu-sub-news .item-sub-news {
  padding: 4px 0;
  font-weight: 500;
}

.news .wrapper-news .nav-news .item-news:last-child .menu-sub-news .item-sub-news:hover {
  color: #f9c100;
}

.news .wrapper-news .box-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 24px;
}

.news .wrapper-news .box-news .box-item-news {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.news .wrapper-news .box-news .box-item-news .item:hover .title {
  color: #f9c100;
}

.news .wrapper-news .box-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 24px 0 0 0;
}

.news .wrapper-news .box-navigation .arrow {
  display: block;
  margin-right: 8px;
  border: 1px solid #b7b7b7;
  cursor: pointer;
}

.news .wrapper-news .box-navigation .arrow i {
  padding: 4px;
  color: #b7b7b7;
}

.news .wrapper-news .box-navigation .arrow:hover {
  background: #f9c100;
  border: 1px solid transparent;
}

.news .wrapper-news .box-navigation .arrow:hover i {
  color: white;
}
/*# sourceMappingURL=style.css.map */