.stay-connect {
    margin-bottom: 64px;
    .wrapper-stay {
        .box-social {
            display: flex;
            flex-direction: column;
            padding: 24px 0 0 0;
            margin-bottom: 47px;
            .item-social {
                margin-bottom: 10px;
                .info-social {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    &:hover {
                        .follow-social {
                            color: #abb8c3;
                        }
                    }
                    .icon-social {
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        i {
                            margin-right: 16px;
                            font-size: 38px;
                        }
                        .bxl-youtube {
                            color: red;
                        }
                        .bxl-meta {
                            color: #1da5f5;
                        }
                        .bxl-twitter {
                            color: aqua;
                        }
                        .follow-social {
                            font-size: 12px;
                            font-weight: 600;
                            text-align: left;
                        }
                    }

                    .actions-social {
                        font-size: 12px;
                        font-weight: 600;
                        text-transform: uppercase;
                    }
                }
            }
        }
        .background-stay {
            img {
                margin: 0 auto;
            }
        }
    }
}
