@import "../../styles/variable";
.holiday {
    .wrapper-holiday {
        padding-bottom: 40px;
        .box-holiday {
            margin-top: 24px;
            .item-holiday {
                cursor: pointer;
                margin-bottom: 24px;
                &:last-child{
                    margin: 0;
                }
                &:hover {
                    .title-train {
                        color: $pink-color;
                    }
                }
                .title-train {
                    margin-bottom: 8px;
                    a {
                        font-size: 22px;
                        font-weight: 400;
                        line-height: 28px;
                    }
                }
                .author-box {
                    font-size: 11px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    padding-bottom: 16px;
                    .author {
                        font-weight: 700;
                        margin-right: 4px;
                    }
                    .date-post {
                        color: $grey-color;
                        margin-left: 4px;
                    }
                }
                .desc-train {
                    margin-top: 20px;
                    color: $grey-color;
                    font-size: 13px;
                    line-height: 21px;
                }
                .img-train {
                    width: 100%;
                    height: 160px;
                    position: relative;
                    overflow: hidden;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}
