.bread {
  font-size: 12px;
  color: #747474;
}

.new-magazine {
  padding: 24px 0;
}
.new-magazine .container-magazine {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
@media only screen and (max-width: 768px) {
  .new-magazine .container-magazine {
    flex-direction: column;
  }
}
.new-magazine .container-magazine .content-magazine {
  flex: 1;
}
.new-magazine .container-magazine .content-magazine .header-content-magazine .box-title-magazine {
  display: flex;
  flex-direction: column;
}
.new-magazine .container-magazine .content-magazine .header-content-magazine .box-title-magazine .main-title-magazine {
  font-size: 38px;
  line-height: 1.2;
  margin-bottom: 24px;
}
.new-magazine .container-magazine .content-magazine .header-content-magazine .box-title-magazine .box-author-magazine {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}
.new-magazine .container-magazine .content-magazine .header-content-magazine .box-title-magazine .box-author-magazine .author-magazine {
  display: flex;
  align-items: center;
}
.new-magazine .container-magazine .content-magazine .header-content-magazine .box-title-magazine .box-author-magazine .author-magazine .avatar-author-magazine {
  border-radius: 50%;
  height: 24px;
  width: 24px;
}
.new-magazine .container-magazine .content-magazine .header-content-magazine .box-title-magazine .box-author-magazine .author-magazine .avatar-author-magazine img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.new-magazine .container-magazine .content-magazine .header-content-magazine .box-title-magazine .box-author-magazine .author-magazine .name-author-magazine,
.new-magazine .container-magazine .content-magazine .header-content-magazine .box-title-magazine .box-author-magazine .author-magazine .date-release-magazine {
  font-size: 12px;
  color: #747474;
}
.new-magazine .container-magazine .content-magazine .header-content-magazine .box-title-magazine .box-author-magazine .author-magazine .name-author-magazine {
  margin: 0 10px 0 6px;
}
.new-magazine .container-magazine .content-magazine .header-content-magazine .box-title-magazine .box-author-magazine .author-magazine .name-author-magazine .author-name {
  font-weight: 600;
  color: black;
  cursor: pointer;
}
.new-magazine .container-magazine .content-magazine .header-content-magazine .box-title-magazine .box-author-magazine .views-magazine {
  display: flex;
  align-items: center;
}
.new-magazine .container-magazine .content-magazine .header-content-magazine .box-title-magazine .box-author-magazine .views-magazine .view,
.new-magazine .container-magazine .content-magazine .header-content-magazine .box-title-magazine .box-author-magazine .views-magazine .mess {
  display: flex;
  align-items: center;
  font-size: 13px;
  margin-right: 24px;
  color: #747474;
}
.new-magazine .container-magazine .content-magazine .header-content-magazine .box-title-magazine .box-author-magazine .views-magazine .view i,
.new-magazine .container-magazine .content-magazine .header-content-magazine .box-title-magazine .box-author-magazine .views-magazine .mess i {
  margin-right: 4px;
}
.new-magazine .container-magazine .content-magazine .header-content-magazine .box-title-magazine .box-author-magazine .views-magazine .mess {
  cursor: pointer;
}
.new-magazine .container-magazine .content-magazine .header-content-magazine .box-title-magazine .box-share-social {
  position: unset;
  padding: 0;
}
.new-magazine .container-magazine .content-magazine .body-content-magazine {
  margin-bottom: 48px;
}
.new-magazine .container-magazine .content-magazine .body-content-magazine .image-magazine {
  margin: 24px 0;
}
.new-magazine .container-magazine .content-magazine .body-content-magazine .image-magazine img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.new-magazine .container-magazine .content-magazine .body-content-magazine .image-magazine .des-image-magazine {
  font-size: 12px;
  color: #747474;
  padding-top: 10px;
  font-style: italic;
}
.new-magazine .container-magazine .content-magazine .body-content-magazine .box-single-magazine .single-content {
  max-width: 600px;
  font-size: 16px;
  line-height: 1.74;
  word-spacing: 3px;
  letter-spacing: 0.5px;
  margin: 0 auto 24px;
  color: #222;
}
.new-magazine .container-magazine .content-magazine .body-content-magazine .box-single-magazine .single-content.strong {
  font-weight: 600;
}
.new-magazine .container-magazine .content-magazine .body-content-magazine .box-single-magazine .sub-image-magazine {
  max-width: 313px;
  float: right;
  margin: 0 0 24px 24px;
}
@media only screen and (max-width: 768px) {
  .new-magazine .container-magazine .content-magazine .body-content-magazine .box-single-magazine .sub-image-magazine {
    float: unset;
    margin: 0 auto 24px;
  }
}
@media only screen and (max-width: 1024px) {
  .new-magazine .container-magazine .content-magazine .body-content-magazine .box-single-magazine .sub-image-magazine {
    max-width: 240px;
  }
}
.new-magazine .container-magazine .content-magazine .body-content-magazine .box-single-magazine .sub-image-magazine img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.new-magazine .container-magazine .content-magazine .body-content-magazine .box-single-magazine .sub-image-magazine .des-image-magazine {
  font-size: 12px;
  color: #747474;
  padding-top: 10px;
  font-style: italic;
}
.new-magazine .container-magazine .content-magazine .body-content-magazine .box-single-magazine .blockquote {
  font-style: italic;
  text-align: center;
  margin: 24px 0;
}
.new-magazine .container-magazine .content-magazine .body-content-magazine .box-single-magazine .blockquote p {
  font-size: 32px;
  line-height: 40px;
  font-weight: 400;
  text-transform: uppercase;
  color: #4db2ec;
  word-wrap: break-word;
}
.new-magazine .container-magazine .content-magazine .box-share-social {
  position: relative;
  padding: 32px 0;
}
.new-magazine .container-magazine .content-magazine .box-share-social::after, .new-magazine .container-magazine .content-magazine .box-share-social::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  left: 0;
  background: #ebebeb;
}
.new-magazine .container-magazine .content-magazine .box-share-social::after {
  top: 0;
}
.new-magazine .container-magazine .content-magazine .box-share-social::before {
  bottom: 0;
}
.new-magazine .container-magazine .content-magazine .box-navigation-magazine {
  margin: 32px 0;
}
.new-magazine .container-magazine .content-magazine .box-navigation-magazine .item-navigation-magazine {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  margin-bottom: 8px;
}
.new-magazine .container-magazine .content-magazine .box-navigation-magazine .item-navigation-magazine .content-article-magazine {
  font-size: 15px;
  color: #222;
  line-height: 21px;
  cursor: pointer;
}
.new-magazine .container-magazine .content-magazine .box-navigation-magazine .item-navigation-magazine .content-article-magazine:last-child {
  text-align: right;
}
.new-magazine .container-magazine .content-magazine .box-navigation-magazine .item-navigation-magazine .content-article-magazine:hover {
  color: #4db2ec;
}
.new-magazine .container-magazine .content-magazine .box-navigation-magazine .item-navigation-magazine .article-navigation {
  font-size: 12px;
  color: #747474;
}
.new-magazine .container-magazine .content-magazine .box-navigation-magazine .item-navigation-magazine .article-navigation:last-child {
  text-align: right;
}
.new-magazine .container-magazine .content-magazine .author-card-magazine {
  border: 1px solid #ededed;
  border-radius: 2px;
  padding: 24px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 32px;
}
@media only screen and (max-width: 768px) {
  .new-magazine .container-magazine .content-magazine .author-card-magazine {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}
.new-magazine .container-magazine .content-magazine .author-card-magazine .avatar-author-card {
  max-width: 120px;
  max-height: 120px;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  margin-right: 24px;
}
@media only screen and (max-width: 768px) {
  .new-magazine .container-magazine .content-magazine .author-card-magazine .avatar-author-card {
    margin-right: 0;
    margin-bottom: 24px;
  }
}
.new-magazine .container-magazine .content-magazine .author-card-magazine .avatar-author-card img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: inherit;
}
.new-magazine .container-magazine .content-magazine .author-card-magazine .info-author-card .name-author-card {
  margin: 0 0 8px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #222;
  cursor: pointer;
  transition: 0.25s ease all;
}
.new-magazine .container-magazine .content-magazine .author-card-magazine .info-author-card .name-author-card:hover {
  color: #4db2ec;
}
.new-magazine .container-magazine .content-magazine .author-card-magazine .info-author-card .link-author-card {
  margin-bottom: 6px;
  font-size: 12px;
  font-style: italic;
  line-height: 21px;
  color: #444;
  cursor: pointer;
  transition: 0.25s ease all;
}
.new-magazine .container-magazine .content-magazine .author-card-magazine .info-author-card .link-author-card:hover {
  color: #4db2ec;
}
.new-magazine .container-magazine .content-magazine .author-card-magazine .info-author-card .des-author-card {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.8px;
  padding-bottom: 16px;
}
.new-magazine .container-magazine .content-magazine .author-card-magazine .info-author-card .social-author-card .item-social-card {
  margin-right: 14px;
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .new-magazine .container-magazine .content-magazine .author-card-magazine .info-author-card .social-author-card .item-social-card {
    margin: 0 8px;
  }
}
.new-magazine .container-magazine .content-magazine .author-card-magazine .info-author-card .social-author-card .item-social-card .bx {
  font-size: 16px;
}
.new-magazine .container-magazine .content-magazine .box-related-article {
  margin-bottom: 32px;
}
.new-magazine .container-magazine .content-magazine .box-related-article .box-item-related {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}
.new-magazine .container-magazine .content-magazine .box-related-article .box-item-related .item .title a {
  font-size: 14px;
  line-height: unset;
}
.new-magazine .container-magazine .content-magazine .box-related-article .box-item-related .item .title:hover {
  color: #4db2ec;
}
.new-magazine .container-magazine .content-magazine .box-related-article .box-item-related .item .img {
  height: auto;
}
.new-magazine .container-magazine .content-magazine .box-related-article .box-item-related .item .img img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.new-magazine .container-magazine .content-magazine .box-related-article .box-item-related .item .author-box,
.new-magazine .container-magazine .content-magazine .box-related-article .box-item-related .item .description {
  display: none;
}
.new-magazine .container-magazine .content-magazine .box-related-article .box-navigation {
  padding-top: 10px;
}
.new-magazine .container-magazine .content-magazine .box-related-article .box-navigation .arrow:hover {
  background: #4db2ec;
  opacity: 0.6;
}
.new-magazine .container-magazine .content-magazine .box-comment-article .box-user-comment {
  margin-top: 24px;
  display: flex;
  align-items: flex-start;
}
.new-magazine .container-magazine .content-magazine .box-comment-article .box-user-comment .avatar-user-comment {
  height: 60px;
  width: 60px;
  margin-right: 20px;
  border-radius: 2px;
}
.new-magazine .container-magazine .content-magazine .box-comment-article .box-user-comment .avatar-user-comment img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: inherit;
}
.new-magazine .container-magazine .content-magazine .box-comment-article .box-user-comment .des-user-comment .header-user-comment {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}
.new-magazine .container-magazine .content-magazine .box-comment-article .box-user-comment .des-user-comment .header-user-comment .name-user-comment {
  font-weight: 600;
  font-size: 16px;
  margin-right: 16px;
}
.new-magazine .container-magazine .content-magazine .box-comment-article .box-user-comment .des-user-comment .header-user-comment .date-user-comment {
  font-size: 12px;
  color: #747474;
}
.new-magazine .container-magazine .content-magazine .box-comment-article .box-user-comment .des-user-comment .body-user-comment {
  font-size: 14px;
}
.new-magazine .container-magazine .content-magazine .box-comment-article .close-comment {
  margin: 20px 0 24px 0;
  font-size: 14px;
}/*# sourceMappingURL=style.css.map */