.footer {
  overflow: hidden;
}
.footer .wrapper-footer {
  position: relative;
  background-image: url(../../public/images/footer-bg1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  transition: 0.3s ease all;
  z-index: 0;
}
.footer .wrapper-footer::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  opacity: 0.8;
}
.footer .wrapper-footer .max-width {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 3;
  padding: 60px 24px 24px 24px;
}
.footer .wrapper-footer .max-width .box-footer-main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 32px;
  padding-bottom: 48px;
  border-bottom: 1px solid #4c4c4c;
}
.footer .wrapper-footer .max-width .box-footer-main .item-footer .item-footer__title {
  font-size: 17px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 16px;
  line-height: 31px;
  text-align: left;
  color: white;
}
.footer .wrapper-footer .max-width .box-footer-main .item-footer .item-footer__content .item-thump {
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  justify-content: flex-start;
}
.footer .wrapper-footer .max-width .box-footer-main .item-footer .item-footer__content .item-thump .img {
  flex: 0 0 30%;
  width: 30%;
  height: 64px;
}
.footer .wrapper-footer .max-width .box-footer-main .item-footer .item-footer__content .item-thump .box-title {
  cursor: pointer;
}
.footer .wrapper-footer .max-width .box-footer-main .item-footer .item-footer__content .item-thump .box-title .title {
  color: white;
}
.footer .wrapper-footer .max-width .box-footer-main .item-footer .item-footer__content .item-thump .box-title:hover .title {
  color: #4db2ec;
}
.footer .wrapper-footer .max-width .box-footer-main .item-footer .item-footer__content .item-footer__category {
  display: flex;
  align-items: center;
  color: white;
  font-size: 14px;
  line-height: 34px;
}
.footer .wrapper-footer .max-width .box-footer-main .item-footer .item-footer__content .item-footer__category .item-footer__category-title {
  flex: 1;
  cursor: pointer;
}
.footer .wrapper-footer .max-width .box-footer-main .item-footer .item-footer__content .item-footer__category .item-footer__category-title:hover {
  color: #4db2ec;
}
.footer .wrapper-footer .max-width .box-footer-info {
  padding-top: 48px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 32px;
}
.footer .wrapper-footer .max-width .box-footer-info .logo-footer {
  width: 231px;
  height: 73px;
  margin: auto;
}
.footer .wrapper-footer .max-width .box-footer-info .logo-footer img {
  height: 100%;
  width: 100%;
}
.footer .wrapper-footer .max-width .box-footer-info .item-footer__about {
  color: #eaeaea;
}
.footer .wrapper-footer .max-width .box-footer-info .item-footer__about .item-footer__title {
  font-size: 17px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 16px;
  line-height: 31px;
  text-align: left;
}
.footer .wrapper-footer .max-width .box-footer-info .item-footer__about .item-footer__about-des {
  font-size: 14px !important;
  line-height: 1.6 !important;
  word-spacing: 2.2px;
  margin-bottom: 16px;
}
.footer .wrapper-footer .max-width .box-footer-info .item-footer__about .item-footer__about-contact {
  font-size: 13px;
}
.footer .wrapper-footer .max-width .box-footer-info .item-footer__about .item-footer__about-contact span {
  color: #1aa4ce;
  cursor: pointer;
}
.footer .wrapper-footer .max-width .box-footer-info .item-footer__follow {
  color: #eaeaea;
}
.footer .wrapper-footer .max-width .box-footer-info .item-footer__follow .item-footer__social {
  display: flex;
  align-items: center;
}
.footer .wrapper-footer .max-width .box-footer-info .item-footer__follow .item-footer__social .item-social {
  cursor: pointer;
  margin-right: 24px;
  margin-top: 24px;
  padding: 12px 14px;
  background: rgba(255, 255, 255, 0.07);
  transition: 0.3s ease all;
}
.footer .wrapper-footer .max-width .box-footer-info .item-footer__follow .item-footer__social .item-social:hover {
  color: #4db2ec;
}
.footer .wrapper-footer .max-width .box-footer-copy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  color: white;
  margin-top: 48px;
}
.footer .wrapper-footer .max-width .box-footer-copy .menu-copy a {
  padding: 0 16px;
}
.footer .wrapper-footer .max-width .box-footer-copy .menu-copy a:hover {
  color: #4db2ec;
}

@media only screen and (max-width: 768px) {
  .box-footer-main {
    display: flex !important;
    flex-direction: column;
  }
  .box-footer-main .item-footer .item-footer__content .item-thump {
    align-items: flex-start;
  }
  .box-footer-main .item-footer .item-footer__content .item-thump .img {
    height: 143px !important;
  }
  .box-footer-info {
    display: flex !important;
    flex-direction: column;
  }
  .box-footer-info .logo-footer {
    height: 90px !important;
    width: auto !important;
  }
  .box-footer-info .item-footer__about .item-footer__title {
    text-align: center !important;
    font-size: 18px !important;
    font-weight: 700 !important;
  }
  .box-footer-info .item-footer__follow {
    margin: 0 auto;
  }
  .box-footer-info .item-footer__follow .item-footer__title {
    text-align: center !important;
    font-size: 18px !important;
    font-weight: 700 !important;
  }
  .box-footer-info .item-footer__follow .item-footer__social .item-social:last-child {
    margin-right: 0 !important;
  }
  .box-footer-copy {
    flex-direction: column;
  }
  .box-footer-copy .copyright {
    margin-bottom: 16px;
  }
}/*# sourceMappingURL=style.css.map */