.tab-bar {
  padding: 32px 0 6px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 100;
}
.tab-bar .tab {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tab-bar .tab .tab-item {
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
}
.tab-bar .tab .tab-item .item {
  position: relative;
  font-family: "Open Sans", "Open Sans Regular", sans-serif;
  padding: 0 16px 8px 16px;
  font-size: 14px;
}
.tab-bar .tab .tab-item .item.active::after {
  position: absolute;
  content: "";
  scale: 1;
  width: 100%;
  height: 4px;
  background: #4db2ec;
  top: calc(100% + 4px);
  left: 0;
}
.tab-bar .tab .tab-item .item::after {
  position: absolute;
  content: "";
  width: 0;
  height: 4px;
  background: #4db2ec;
  top: calc(100% + 4px);
  left: 0;
  scale: 0.1;
  transition: 0.3s ease all;
  transform-origin: center;
  transition: scale 0.25s;
}
.tab-bar .tab .tab-item .item:hover::after {
  position: absolute;
  content: "";
  scale: 1;
  width: 100%;
  height: 4px;
  background: #4db2ec;
  top: calc(100% + 4px);
  left: 0;
}
.tab-bar .tab .tab-item:hover .menu {
  display: flex;
}
.tab-bar .tab .tab-item:hover .menu::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 20px;
  top: -16px;
  left: 0;
  background: transparent;
  z-index: 5;
}
.tab-bar .tab .tab-item .menu {
  position: absolute;
  top: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
  display: none;
  padding: 16px;
  background: white;
  width: 1398px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.tab-bar .tab .tab-item .menu .menu-box {
  width: 100%;
}
.tab-bar .tab .tab-item .menu .menu-box:first-child {
  border-right: 1px solid #cecece;
  width: 20%;
}
.tab-bar .tab .tab-item .menu .menu-box:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.tab-bar .tab .tab-item .menu .menu-box .menu-item {
  font-weight: 500;
  text-transform: none;
  text-align: right;
  padding: 4px 16px;
  font-size: 14px;
  font-family: "Open Sans", "Open Sans Regular", sans-serif;
}
.tab-bar .tab .tab-item .menu .menu-box .menu-item.active {
  color: #4db2ec;
}
.tab-bar .tab .tab-item .menu .menu-box .menu-item:hover {
  color: #4db2ec;
}
.tab-bar .tab .tab-item .menu .menu-box .menu-card {
  padding: 0 12px;
  text-align: left;
  width: 25%;
}
.tab-bar .tab .tab-item .menu .menu-box .menu-card:hover .menu-title {
  color: #4db2ec;
}
.tab-bar .tab .tab-item .menu .menu-box .menu-card .menu-title {
  font-size: 16px;
  text-transform: none;
  padding: 12px 0;
}
.tab-bar .tab .tab-item .menu .menu-box .menu-card .menu-date {
  text-transform: none;
  font-size: 12px;
  font-weight: 400;
  color: #6e6e6e;
}
.tab-bar .tab .tab-item .menu .menu-box .menu-card .menu-img {
  height: 180px;
  position: relative;
}
.tab-bar .tab .tab-item .menu .menu-box .menu-card .menu-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.tab-bar .tab .tab-item .menu .menu-box .menu-card .menu-img .tem {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 10px;
  font-weight: 400;
  padding: 2px 8px;
  text-transform: none;
  background: rgb(66, 66, 66);
  color: white;
}
.tab-bar .tab .tab-item .menu .menu-gadgets {
  display: flex;
}
.tab-bar .tab .tab-item .menu .menu-gadgets .menu-item {
  font-weight: 500;
  text-transform: none;
  text-align: right;
  padding: 4px 16px;
  font-size: 14px;
}
.tab-bar .tab .tab-item .menu .menu-gadgets .menu-item.active {
  color: #4db2ec;
}
.tab-bar .tab .tab-item .menu .menu-gadgets .menu-item:hover {
  color: #4db2ec;
}
.tab-bar .tab .tab-item .menu .menu-gadgets .menu-card {
  padding: 0 12px;
  text-align: left;
  width: 25%;
}
.tab-bar .tab .tab-item .menu .menu-gadgets .menu-card:hover .menu-title {
  color: #4db2ec;
}
.tab-bar .tab .tab-item .menu .menu-gadgets .menu-card .menu-title {
  font-size: 16px;
  text-transform: none;
  padding: 12px 0;
}
.tab-bar .tab .tab-item .menu .menu-gadgets .menu-card .menu-title:hover {
  color: #4db2ec;
}
.tab-bar .tab .tab-item .menu .menu-gadgets .menu-card .menu-date {
  text-transform: none;
  font-size: 12px;
  font-weight: 400;
  color: #6e6e6e;
}
.tab-bar .tab .tab-item .menu .menu-gadgets .menu-card .menu-img {
  height: 180px;
  position: relative;
}
.tab-bar .tab .tab-item .menu .menu-gadgets .menu-card .menu-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.tab-bar .tab .tab-item .menu .menu-gadgets .menu-card .menu-img .tem {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 10px;
  font-weight: 400;
  padding: 2px 8px;
  text-transform: none;
  background: rgb(66, 66, 66);
  color: white;
}
.tab-bar .tab .tab-item.features {
  position: relative;
}
.tab-bar .tab .tab-item.features .menu-features {
  width: 300px;
  position: absolute;
  top: calc(100% + 16px);
  padding: 16px 32px;
  background: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: none;
  left: 0;
}
.tab-bar .tab .tab-item.features .menu-features .item-fea {
  padding: 4px 0;
  font-weight: 400;
  font-size: 14px;
  text-transform: none;
  text-align: left;
}
.tab-bar .tab .tab-item.features .menu-features .item-fea:hover {
  color: #4db2ec;
}
.tab-bar .tab .tab-item.features .menu-features::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 20px;
  top: -20px;
  left: 0;
  background: transparent;
}
.tab-bar .tab .tab-item.features:hover .menu-features {
  display: block;
}
.tab-bar .tab-search {
  position: relative;
  z-index: 1;
}
.tab-bar .tab-search .search {
  cursor: pointer;
}
.tab-bar .tab-search .box-search {
  position: absolute;
  padding: 24px;
  top: calc(100% + 8px);
  right: 0;
  left: auto;
  background: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 600px;
  margin-left: auto;
  transition: 0.3s ease all;
  transform: translate3d(0, 20px, 0);
  opacity: 0;
  visibility: hidden;
}
.tab-bar .tab-search .box-search.active {
  visibility: visible;
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.tab-bar .tab-search .box-search input {
  outline: none;
  border: none;
  left: auto;
  border-bottom: 1px solid rgba(100, 100, 111, 0.2);
  padding: 8px;
  width: 100%;
}/*# sourceMappingURL=style.css.map */