@import "../../styles/variable";
@import "../../styles/mixin";
.wrapper-modern {
    padding-bottom: 40px;
    .box-modern {
        padding-top: 24px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 16px;
        @include Responsive(SM) {
            grid-template-columns: 1fr;
        }
        .item {
            padding-right: 0;
            .img {
                height: 110px;
                @include Responsive(SM) {
                    height: auto;
                }
            }
            .title {
                a {
                    font-size: 13px;
                    font-weight: 500;
                    line-height: 16px;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    @include Responsive(SM) {
                        font-size: 16px;
                    }
                }
            }
            .author-box,
            .description {
                display: none;
            }
            &:hover {
                .title {
                    color: $blue-color;
                }
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .img-banner {
        margin-top: 40px;
        img {
            margin: 0 auto;
        }
    }
}
